/* Alternate the background color of the output rows */
.list-group-item:nth-child(even) {
    background-color: #bdf1ac;
}

.chat-log {
    max-height:600px;
    overflow-y:scroll;
}

.detail {
  background-color: azure;
}

.source {
  text-align: right;
}

body {
  background-image: url("../img/super.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html {
    height: 100%
}

.jumbotron {
  background-color: #eceee766;
}
